1.fcs
2.fcs
2021-01-08_at_03-42-02pm-2.fcs
2021-01-08_at_03-42-02pm-3.fcs
2021-01-08_at_03-42-02pm-4.fcs
2*.py
2*/
__pycache__/
analysis*.py
analysis210629.py
bioreactor_210615/
calibration*.py
*.csv
consortium_tecan_210617/
consortium_tecan_210629/
expected_counted.py
*.png
low_scarlet/
low_scarlet_2/
low_scarlet_24_03/
low_scarlet_3/
scarlet
*.ods
split_files.py
test-venus/
test.ipynb
test.py
test/
test_classification/
test_files/
test_venus.py
.ipynb_checkpoints/
ADM_09SEP2020_181310.VIA.FCS
*.odt
